.MisConocimientos{
    background-color: rgb(0, 0, 0);
    height: 110vh;
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c8697e8a-097a-42b0-bc30-a27bbdccbfbf/dggay13-429f06c0-bd59-4b3a-b112-ed8ffcca0caa.jpg/v1/fit/w_828,h_562,q_70,strp/back_by_santinox51_dggay13-414w-2x.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9ODY5IiwicGF0aCI6IlwvZlwvYzg2OTdlOGEtMDk3YS00MmIwLWJjMzAtYTI3YmJkY2NiZmJmXC9kZ2dheTEzLTQyOWYwNmMwLWJkNTktNGIzYS1iMTEyLWVkOGZmY2NhMGNhYS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.GIPY_6rjZ-4FFSRxMQ3mQt75wQoXcgr1huAPo3u0Qcc');
    background-attachment: fixed;
}

.card {
    width: 175px;
    height: 120px;
    padding: 0.5rem;
    position: relative;
    left: 150px;
    top: -.5vh;
    background: rgb(38, 37, 37);  
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px  rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(10deg);
    transition: .5s, width 0.1s, background-color 2s;
    overflow: hidden;
    color: white;
    cursor: pointer;
  }
  
  .card:hover {
    height: 295px;
    width: 230px;
    background: #ffffff;
    transform: skew(0deg);
  }
  .sharp:hover{
    background: rgb(108, 17, 108);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
  }
  .Sql:hover{
    background: rgb(4, 76, 118);
  }
  .CSS:hover{
    background: linear-gradient(to right,#d76c08, #1931c9);
  }
  .NET:hover{
    background: rgb(65, 3, 112);
  }
  .Boot:hover{
    background: rgb(111, 6, 191);
  }
  .angular:hover{
    background: rgb(193, 85, 68)
  }
  .card:hover .Logo{
    height: 115px;
    width: 123px;
  }
  
  .align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
  }
  
  .red {
    width: 10px;
    height: 10px;
    margin-top: -1.5vh;
    margin-bottom: 1vh;
    border-radius: 50%;
    background-color: #ff605c;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
    animation: cambioDeColor 3s ease-in-out infinite;
  }
  
  .yellow {
    width: 10px;
    height: 10px;
    margin-bottom: 1vh;
    margin-top: -1.5vh;
    border-radius: 50%;
    background-color: #ffbd44;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
    animation: yelloColor 3s ease-in-out infinite;
  }
  
  .green {
    width: 10px;
    height: 10px;
    margin-bottom: 1vh;
    margin-top: -1.5vh;
    border-radius: 50%;
    background-color: #00ca4e;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
    animation: GreenColor 3s ease-in-out infinite;
  }
  
  .card img {
    height: 85px;
    width: 90px;
    color: rgb(218, 244, 237);
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
    display: block;
    margin: 0 auto;
    margin-top: -1.2vh;
    transition: width 0.5s ease-in-out, height 0.6s ease-in-out;
  }

  .list-aling{
    position: relative;
    margin-left: -20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-top: 5px;
  }

  li{
    padding-top: 8px;
  }

  .Grid__MisConocimientos {
    display: grid;
    margin-top: 15.5vh;
    grid-template-rows: 300px 215px; /* 2 filas con la misma altura */
    grid-template-columns: 235px 235px 235px;  /* 3 columnas con la misma anchura */
    column-gap: 29vh; /* Espacio entre las celdas de la cuadrícula */
    align-items: center; /* Centra verticalmente los elementos en las filas */
    justify-content: center; /* Centra horizontalmente los elementos en las columnas */
    position: absolute;
    margin-left: 0.5vh;
}

h2{
  color: rgb(255, 255, 255);
  position: absolute;
  left: 33%;
  margin-top: 2vh;
  font-size: 60px;
  letter-spacing: 3px;
  font-style: italic;
}

.back{
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.9);
  top: 0;
  left: 0;
  z-index: 0;
}

@keyframes cambioDeColor {
  0% {
    background-color: #ff0000; /* Rojo brillante al principio */
  }
  50% {
    background-color: #800000; /* Rojo apagado a la mitad */
  }
  100% {
    background-color: #ff0000; /* Rojo brillante al final */
  }
}

@keyframes yelloColor {
  0% {
    background-color: #ffbd44; /* Amarillo miel brillante al principio */
  }
  50% {
    background-color: #74560c; /* Amarillo miel apagado a la mitad */
  }
  100% {
    background-color: #ffbd44; /* Amarillo miel brillante al final */
  }
}

@keyframes GreenColor {
  0% {
    background-color: #00ca4e; /* Verde claro brillante al principio */
  }
  50% {
    background-color: #185c18; /* Verde claro apagado a la mitad */
  }
  100% {
    background-color: #00ca4e; /* Verde claro brillante al final */
  }
}