@using ServiManagement.Models.Entidades
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
@model Usuario
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ServiManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ServiManagement.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/ServiLogo.ico" />
    <style>
        .vericar{
            font-size: 11px;
            color: red;
        }
        body{
            margin: 0;
            overflow: hidden
        }

        .login-container {
            width: 330px;
            min-height: 320px;
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            color: white;
            background-color: #222;
            box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
        }

            .login-container .slider {
                width: 200%;
                position: relative;
                transition: transform ease-out 0.3s;
                display: flex;
            }

        #register_toggle {
            display: none;
        }

        .login-container #register_toggle:checked + .slider {
            transform: translateX(-50%);
        }

        .form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            padding: 1.5em 3em;
            width: 50%;
        }

        .title {
            text-align: center;
            font-weight: 700;
            font-size: 2em;
        }

        form .form_control {
            width: 100%;
            position: relative;
            overflow: hidden;
        }

            form .form_control .label {
                position: absolute;
                top: 50%;
                left: 10px;
                transition: transform ease 0.2s;
                transform: translate(0%, -50%);
                font-size: 0.75em;
                user-select: none;
                pointer-events: none;
                color: #b0b0b0;
            }

            form .form_control .input {
                width: 100%;
                background-color: transparent;
                border: none;
                outline: none;
                color: #fff;
                padding: 0.5rem;
                font-size: 0.75rem;
                border-radius: 5px;
                transition: box-shadow ease 0.2s;
                box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 1.5px 1.5px 3px #0e0e0e, inset -1.5px -1.5px 3px #5f5e5e;
            }

                form .form_control .input:focus,
                form .form_control .input:valid {
                    box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
                }

                    form .form_control .input:focus + .label,
                    form .form_control .input:valid + .label {
                        transform: translate(-150%, -50%);
                    }

        form button {
            width: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            color: #fff;
            padding: 0.5rem;
            font-size: 0.75rem;
            border-radius: 5px;
            transition: box-shadow ease 0.1s;
            box-shadow: 1.5px 1.5px 3px #0e0e0e, -1.5px -1.5px 3px rgb(95 94 94 / 25%), inset 0px 0px 0px #0e0e0e, inset 0px -0px 0px #5f5e5e;
        }

            form button:active {
                box-shadow: 0px 0px 0px #0e0e0e, 0px 0px 0px rgb(95 94 94 / 25%), inset 3px 3px 4px #0e0e0e, inset -3px -3px 4px #5f5e5e;
            }

        .bottom_text {
            font-size: 0.65em;
        }

            .bottom_text .swtich {
                font-weight: 700;
                cursor: pointer;
            }
    </style>
</head>
<body class="pattern">
    <div class="container">
        <main role="main" class="pb-3">
            <div class="d-flex align-items-center justify-content-center vh-100">
                <div class="login-container">
                    <input type="checkbox" id="register_toggle">
                    <div class="slider">
                        <form class="form" method="post">
                            <span class="title">Login</span>
                            <div class="form_control">
                                <input asp-for="Name" type="text" class="input" required="">
                                <label class="label">Usuario</label>
                            </div>
                            <div class="form_control">
                                <input asp-for="Pass" type="password" class="input" required="">
                                <label class="label">Contraseña</label>
                            </div>
                            @if (Model != null)
                            {
                                <div class="vericar">Error, Usuario y/o Contraseña incorrectos</div>
                            }
                            <button asp-action="Login">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

    </script>
</body>
</html>

