@{
    ViewData["Title"] = "ServiPrynt - Quienes Somos";
}

<style>
    .patern {
        background: #444 radial-gradient(rgba(255, 255, 255, 1) 0%, transparent 1%);
        background-size: 11px 11px;
    }

    .container-nosotros {
        display: flex;
        justify-content: space-between;
    }
    .nosotros-parrafo {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    
</style>

<section>
    <div class="nosotros-image">
        <div class="over-img-nosotros">
            <h2 class="m-0 text-white">¿QUIÉNES SOMOS?</h2>
        </div>
    </div>
</section>

<section class="container-nosotros">
    <div class="nosotros-parrafo">
        <div class="d-flex justify-content-center align-items-center nosotros-img">
            <img src="https://e-gesa.com.ar/egesa/wp-content/uploads/2022/07/sobre_nosotros.jpg" alt="Alternate Text"
                 style="object-fit: cover; border-radius:20px;" class="p3 nos-img"/>
        </div>
        <div class="d-flex justify-content-center align-items-center flex-column nosotros-texto">
            <small class="mb-1">SOBRE NOSOTROS</small>
            <h1 class="mb-4">ServiPrynt</h1>
            <p class="pt-3 pb-2">
                Somos una empresa dedicada a satisfacer las necesidades de comunicación gráfica y digital entre las organizaciones y personas, brindando asesoramiento y soporte competitivo de alta tecnología.
            </p>
            <p class="pb-5">
                Somos una empresa dedicada a satisfacer las necesidades de comunicación gráfica y digital entre las organizaciones y personas, brindando asesoramiento y soporte competitivo de alta tecnología.
            </p>
        </div>
    </div>
</section>