.driverImg{
    object-fit: cover;
    width: 100%;
    max-height: 75vh;
}

ul{
    padding: 10px;
    padding-top: 0;
    padding-left: 2px;
    list-style-type: none;
    margin-bottom: 0;
}

li{
    margin-bottom: 8px;
}

.card-body{
    padding-bottom: 0;
}


h5{
    font-size: 32px;
}

.verticalLine {
    border-left: solid 3px #000;
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(49.5%);
    width: auto;
}

.button-prevnext:hover{
    opacity: 0.7;
}