:root {
    --red-blue: linear-gradient(to right, red 50%, blue 50%);
    --yellow: #FFFF00;
    --crystal: #67eafe;
    --gold: #FFD700;
    --silver: #C0C0C0;
    --emerald: #50C878;
    --ruby-sapphire: linear-gradient(to right, #9B111E 50%, #0000FF 50%);
    --firered-leafgreen: linear-gradient(to right, #FF0000 50%, #00ff00 50%);
    --diamond-pearl: linear-gradient(to right, #B9F2FF 50%, #FFE4C4 50%);
    --platinum: #E5E4E2;
    --heartgold-soulsilver: linear-gradient(to right, #FFD700 50%, #C0C0C0 50%);
    --black-white: linear-gradient(to right, black 50%, white 50%);
    --x-y: linear-gradient(to right, #00008B 50%, #8B0000 50%);
    --ultra-sun-ultra-moon: linear-gradient(to right, #FFA500 50%, #800080 50%);
    --bug: #A8B820; /* verde bicho, basado en el color de Caterpie de Pokemon */
    --dark: #333; /* un gris oscuro */
    --dragon: #7038F8; /* azul scarlata, basado en el color de Dragonair de Pokemon */
    --electric: #F8D030; /* amarillo eléctrico, basado en el color de Pikachu de Pokemon */
    --fighting: #C03028; /* naranja, basado en el color de Hitmonchan de Pokemon */
    --fire: #e36c18; /* rojo fuego, basado en el color de Charizard de Pokemon */
    --flying: #c3b2f6; /* celeste cielo claro, basado en el color de Pidgeot de Pokemon */
    --ghost: #705898; /* morado oscuro, basado en el color de Gengar de Pokemon */
    --grass: #78C850; /* verde hoja, basado en el color de Bulbasaur de Pokemon */
    --ground: #E0C068; /* marrón oscuro, basado en el color de Diglett de Pokemon */
    --ice: #98D8D8; /* celeste hielo, basado en el color de Lapras de Pokemon */
    --normal: #b1b1b0; /* gris, basado en el color de Snorlax de Pokemon */
    --poison: #710971; /* violeta medio claro, basado en el color de Nidoran de Pokemon */
    --psychic: #F85888; /* rosado, basado en el color de Mew de Pokemon */
    --rock: #B8A038; /* beige, basado en el color de Geodude de Pokemon */
    --steel: #B8B8D0; /* gris acero, basado en el color de Steelix de Pokemon */
    --water: #6890F0; /* azul mar, basado en el color de Blastoise de Pokemon */
    --fairy: #ff9bfa; /* azul mar, basado en el color de Blastoise de Pokemon */
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 2rem 10vw;
    justify-items: center;
}

.carta {
    border: 2px solid #ccc;
    padding: 7px 10px;
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: #111;
    height: auto;
    width: 200px;
    text-align: center;
}

.carta .pokeImage {
    cursor: pointer;
}

.pokeImage{
    min-width: 95%;
    max-width: 95%;
    display: block;
    margin: auto;
    
}

.pixel{
    image-rendering: pixelated;
}

.ndex{
    margin: .5rem;
    color: white;
    font-size: .75rem;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

h5{
    color: white;
    margin: .8rem;
    font-size: 1rem;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

.flex-type {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-type img{
    width: 95px;
    margin-left: 5px;
}

.btn-sprite{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    margin-left: 5px;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
}
.btn-sprite:hover{
    opacity: .7;
}

.sliders{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.sliders button{
    margin-left: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.fa-forward{
    margin-left: 2px;
}

.fa-backward{
    margin-right: 2px;
}

.none{
    display: none;
}

#buscarName{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px 8px;
}

#tipo{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px 8px;
}

.buscar{
    padding: 6px 9px;
    font-size: 1rem;
    background-color: #111;
    border: 1px solid #fff;
    color: whitesmoke;
    transition: opacity .2s;
    cursor: pointer;
}

#buscarNum{
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2px 5px;
    width: 95px;
}

.buscar:hover{
    opacity: .9;
}

.borderRed{
    border: 2px solid red;
}

.limpiar{
    padding: 6px 9px;
    font-size: 1rem;
    background-color: #ff0000;
    border: 1px solid #fff;
    color: whitesmoke;
    transition: opacity .2s;
    cursor: pointer;
}

.limpiar:hover{
    opacity: .75;
}

button{
    cursor: pointer;
}

button img{
    object-fit: cover;
    max-width: 20px;
    max-height: 20px;
    display: block;
    margin: auto;
}

