h3{
    text-align: center;
}
  
.carousel-control-prev, .carousel-control-next{
    max-width: 90px;
    justify-content: end;
}

.carousel-control-next{
    justify-content: start;
}

button{
    width: 5vw;
    height: 5vw;
    top: 35%;
}
