html {
  font-size: 14px;
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

#myBtn {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    bottom: 25px;
    right: 100px;
    z-index: 99;
    border: none;
    outline: none;
    background-image: url("../src/ServiUp.png");
    background-size: contain;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 22px; /* Increase font size */
    text-align: center;
    min-width: 50px;
    min-height: 50px;
}

.h1-Productos{
    font-size: 50px;
    font-family: 'Lato';
    font-style: italic;
    letter-spacing: 2px;
}